# --- Python ---
__pycache__/
*.py[cod]
*$py.class

# Virtual envs
.venv/
venv/
ENV/
env/

# Build / Distribuição
build/
dist/
*.egg-info/
.eggs/
wheels/
pip-wheel-metadata/

# Caches e ferramentas
.mypy_cache/
.ruff_cache/
.pytest_cache/
.pyre/
.coverage
.coverage.*
htmlcov/
.cache/

# Notebooks
.ipynb_checkpoints/

# IDEs / SO
.vscode/
.idea/
*.iml
.DS_Store
Thumbs.db

# Logs / temporários
*.log
*.tmp
*.temp

# Test artifacts
.coverage.*
.tox/
.pytype/

# Configs locais
.env
.env.*
.python-version

# Sonar/Reports (se usar)
.sonar/
.report/

# Arquivos gerados por pre-commit (safe)
.pre-commit-hooks.yaml
